<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.best.mapper.RouteMapper">

    <resultMap id="BaseResultMap" type="com.best.entity.Route">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="routeId" column="route_id" jdbcType="VARCHAR"/>
            <result property="routeName" column="route_name" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,route_id,route_name,
        `level`,sort,create_time,
        update_time,deleted
    </sql>
</mapper>
